@using System.Text;
@model GetBookByTitleResponse

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
    string count = Model.ReadersCount > 10000 ? "10000+" : Model.ReadersCount.ToString();
    string epubMessage = string.IsNullOrEmpty(Model.EPubLink) ? "Not available" : "Download .epub";
    string mobiMessage = string.IsNullOrEmpty(Model.MobiLink) ? "Not available" : "Download .mobi";
    string pdfMessage = string.IsNullOrEmpty(Model.PdfLink) ? "Not available" : "Download .pdf";

    StringBuilder builder = new StringBuilder();

    foreach (char c in Model.Genre.ToString())
    {
        if (Char.IsUpper(c) && builder.Length > 0) builder.Append(' ');
        builder.Append(c);
    }

    string genre = builder.ToString();
} 

<div class="container-md pt-2">
    <div class="info-container">
        <div class="info-item">
            <img src="@Model.Cover"/>
            <div class="info-item-description-short">
                <div class="description-short-text">
                    <p>АВТОР</p>
                    <p>@Model.AutorName</p>    
                </div>
                <div class="description-short-text">
                    <p>ЖАНР</p>
                    <p>@genre</p>
                </div>
                <div class="description-short-text">
                    <p>РІК</p>
                    <p>@Model.Date</p>
                </div>
            </div>
            @if (!Model.IsInList)
            {
                <button class="btn btn-light" id="list-control">Read with <span style="font-size: 18px;">@count</span> others</button>
            }
            else
            {
                <button class="btn btn-danger" id="list-control">Delete from list</button>
            }
        </div>
        <div class="info-item">
            <strong id="title">@Model.Title</strong>
            <div class="description-long-text">
                <strong>Description</strong>
                <p>@Model.Description</p>
            </div>
            <div class="description-long-text">
                <strong>Опис до книги</strong>
                <p>@Model.UaDescription</p>
            </div>
            <div class="description-long-text">
                <strong>Download links</strong>
                <a href="@Model.EPubLink" target="_blank"><img src="/images/icon_epub.png" /><span>@epubMessage</span></a>
                <a href="@Model.MobiLink" target="_blank"><img src="/images/icon_mobi.png" /><span>@mobiMessage</span></a>
                <a href="@Model.PdfLink" target="_blank"><img src="/images/icon_pdf.png" /><span>@pdfMessage</span></a>
            </div>
        </div>
    </div>
</div>

<script src="~/js/books/read.js"></script>